input[type=text],
input[type=date],
textarea,
select
{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #bebebe;
}
.edit-form{
  margin-top: 50px;
}
label {
  font-size: 120%;
}
