.main-nav{
  float: right;
  list-style: none;
  margin-top: 20px;
}

.main-nav li {
  display: inline;
  margin-left: 40px;
  font-size: 100%;
}


.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid red;
}

input[type=text],
input[type=date],
textarea,
select
{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #bebebe;
}
.create-form{
  margin-top: 50px;
}
label {
  font-size: 120%;
}
